* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', Tahoma, Verdana, Arial, sans-serif;
    color: #fff;
    cursor: default;
    /*background: #6b6b6b url('../images/bg.png') repeat left top;*/
    background-color: #3ac9f1;
    background-color: #45c1e4;
}
a, a:hover, a:focus, a:visited, a:active {
    color: currentColor;
    color: inherit;
    color: #fff;
    text-decoration: none;
}
#container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*filter: alpha(opacity=70);*/
}
#content {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 550px;
    max-height: 265px;
    *max-width: none;
    *max-height: none;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
}

#notice,
#notice .notice {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
#notice .notice {
    top: 24px;
    padding: 12px 0;
    font-size: 22px;
}
#notice .notice:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rgba(0,0,0,.12);
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    filter: alpha(opacity=12);
}
#loading {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -18px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
}

#layout,
#layout .buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#layout .buttons {
    z-index: 6;
}
.button {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 155px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #00bcf2;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.button.import {
    left: 14%;
    background-image: url('../images/btn_blue.jpg');
}
.button.export {
    right: 14%;
    background-image: url('../images/btn_red.jpg');
}
.button.active {
    cursor: default;
}
.button.active span {
    /*color: #ddd;*/
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#process {
    position: absolute;
    z-index: 7;
    left: 0;
    bottom: 30px;
    width: 100%;
    height: 34px;
}
#process .progress {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #a0e9fd;
}
#process .progress .progress-bar {
    min-width: 0;
    line-height: 34px;
}
#process .progress .progress-bar-info {
    background-color: #389e60;
    background-color: #35a260;
}

#log {
    position: absolute;
    z-index: 7;
    left: 0;
    bottom: 6px;
    width: 100%;
    color: #936;
    font-size: 14px;
    text-shadow: 0 0 4px rgba(0,0,0,.3);
}
#log .log {
    padding-left: 16px;
    /*font-weight: bold;*/
}
#log .copyleft {
    position: absolute;
    right: 16px;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
#log .copyleft em {
    position: relative;
    bottom: -1px;
    font-style: normal;
}